body {
	background-image: url("https://repository-images.githubusercontent.com/214671270/23f88b80-ed18-11e9-8a21-0a636b193f08");
	background-size: cover;

	height: 100vh;
	padding: 0;
	margin: 0;
}
.start-screen {
	height: 640px;
	width: 360px;
	margin: 0px auto;
	margin-top: 50px;
	-webkit-box-shadow: 0px 0px 242px 45px rgba(0, 0, 250, 0.19);
	-moz-box-shadow: 0px 0px 242px 45px rgba(0, 0, 250, 0.19);
	box-shadow: 0px 0px 242px 45px rgba(0, 0, 250, 0.19);
}
@media (max-width: 480px) {
	.start-screen {
		margin-top: 10px;
	}
}
.start__wrapper {
	height: 640px;
	width: 360px;
	background: url(../img/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

/*================================================================  Главная шкала  ================================================================*/
.start__measure {
	position: absolute;
	left: 92px;
	top: 92px;
}
.measure__wrapper {
	height: 324px;
	width: 170px;
}
.measure__main {
	position: relative;
}
.measure__scale {
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -39px;
}
.measure__ruby {
	display: block;
	position: absolute;
	z-index: 100;
	top: 28px;
	left: 50%;
	margin-left: -24px;
}

/*================================================================  Шкала удара  ================================================================*/
.start__scale {
	position: absolute;
	left: 23px;
	bottom: 64px;
}
.scale__bg {
	position: relative;
}
.scale__flare {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 6;
}
.scale__marks {
	position: absolute;
	left: 10px;
	top: 8px;
	z-index: 6;
}
.scale__hr-line {
	position: absolute;
	top: 145px;
	left: -5px;
	z-index: 10;
}
.scale__bar {
	position: absolute;
	left: 3px;
	bottom: 3px;
	z-index: 5;
	height: 140px;
	width: 34px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	overflow: hidden;
}
.scale__element {
	display: block;
	position: absolute;
	bottom: 0px;
	height: 0px;
	background-color: #00d355;
	width: 34px;
}

/*================================================================  Центральная кнопка  ================================================================*/
.start__button {
	position: absolute;
	left: 115px;
	bottom: 149px;
}
.button__button-image--active {
	transition: 0.5s;
}

/*================================================================  Молот  ================================================================*/
.start__hammer {
	position: absolute;
	bottom: 123px;
	right: 55px;
}
.hammer__hammer-image {
	transform: rotate(-43.16deg);
}
.hammer__hammer-0deg {
	transition: 0.2s;
	transform: rotate(0);
	transform: translate(20px, -35px);
}
.hammer__hammer-striker {
	transition: 0.2s;
	transform: translate(-50px, -25px) rotateZ(-90deg);
}

/*================================================================  Текстовый блок  ================================================================*/
.start__text-block {
	position: absolute;
	bottom: 110px;
	left: 105px;
}
.text-block__paragraph {
	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #ffffff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-block__paragraph--hit {
	margin-left: 14px;
}
.text-block__paragraph--under100 {
	position: relative;
	left: 5px;
}
.text-block__paragraph--under130 {
	position: relative;
	left: 17px;
}
.text-block__paragraph--hit140 {
	display: flex;
	flex-direction: column;
	position: relative;
	left: -10px;
	top: 10px;
}
.text-block__paragraph--hit140 span {
	color: #ff4646;
}

/*================================================================  Кнопка взаимодействия с пользователем  ================================================================*/
.start__new-game {
	position: absolute;
	left: 94px;
	top: 540px;
}
.new-game__button,
.restart__button,
.hit__button {
	width: 172px;
	height: 36px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background: #ff42e0;
	border: 1px solid #ffffff;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.new-game__button span,
.restart__button span,
.hit__button span {
	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #ffffff;
}
.hit__button {
	background: #ffdf35;
	border: 1px solid #bb20a2;
}
.hit__button span {
	color: #bb20a2;
}

/*================================================================  Robot  ================================================================*/
.start__robot {
	position: absolute;
	left: 277px;
	top: 489px;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.robot__image-3 {
	position: relative;
	left: -8px;
}

/*================================================================  Navigation  ================================================================*/
.start__nav {
	position: absolute;
	bottom: 0px;
}
.nav__wrapper {
	height: 36px;
	width: 360px;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav__flex {
	width: 172px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__back,
.nav__home,
.nav__apps {
	cursor: pointer;
}

/*================================================================  Glow  ================================================================*/
.glow__layer-glow {
	position: absolute;
	left: 114px;
	top: 70px;
	transform: rotate(135deg);
	z-index: 4;
}
.glow__prize-glow {
	display: none;
}

/*================================================================  Анимация вращения layer-glow  ================================================================*/
.animated {
	animation-name: rotation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*================================================================  Спец.классы  ================================================================*/
.hidden {
	display: none;
}
.transparent {
	opacity: 0;
	transition-property: opacity;
}
.visible {
	opacity: 1;
}
